# Generated
#orderlyjson/OrderlyJSONLexer.py
#orderlyjson/OrderlyJSONParser.py
orderlyjson/OrderlyJSON.tokens

# Locally-stored deps
/antlr3
/antlr*.jar
/jsonschema
/validictory

# Temporary
*~
*.bak
/tmp

# Python compiled
*.pyc
*.pyo

# Distutils
/MANIFEST
/build
/dist
